### Columnの説明

#### BureauのColumn

* SK_ID_CURR

ID of loan in Home Credit Group's sample
* SK_ID_BUREAU

Recorded ID of credit bureau credit
* CREDIT_ACTIVE

Status of the credit bureau reported credits
* CREDIT_CURRENCY

Recorded currency
* DAYS_CREDIT

How many days before current application did client apply for Credit Bureau credit
* CREDIT_DAY_OVERDUE

Number of days past due on CB credit at the time of application to the Home Credit 
* DAYS_CREDIT_ENDDATE

Remaining duration of CB credit at the time of application in Home Credit
* DAYS_ENDDATE_FACT

Days since CB credit ended at the time of application in Home Credit
* AMT_CREDIT_MAX_OVERDUE

Maximum amount of overdue
* CNT_CREDIT_PROLONG

* AMT_CREDIT_SUM

* AMT_CREDIT_SUM_DEBT

* AMT_CREDIT_SUM_LIMIT

* AMT_CREDIT_SUM_OVERDUE

* CREDIT_TYPE

* DAYS_CREDIT_UPDATE

* AMT_ANNUITY

In [4]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.decomposition import PCA, NMF
from sklearn.manifold import TSNE

In [5]:
br_path = "../data/bureau.csv"
bb_path = "../data/bureau_balance.csv"

br = pd.read_csv(br_path, nrows=60000)
bb = pd.read_csv(bb_path, nrows=60000)

br.shape, bb.shape

((60000, 17), (60000, 3))

In [6]:
bb.head(50)

    SK_ID_BUREAU  MONTHS_BALANCE STATUS
0        5715448               0      C
1        5715448              -1      C
2        5715448              -2      C
3        5715448              -3      C
4        5715448              -4      C
5        5715448              -5      C
6        5715448              -6      C
7        5715448              -7      C
8        5715448              -8      C
9        5715448              -9      0
10       5715448             -10      0
11       5715448             -11      X
12       5715448             -12      X
13       5715448             -13      X
14       5715448             -14      0
15       5715448             -15      0
16       5715448             -16      0
17       5715448             -17      0
18       5715448             -18      0
19       5715448             -19      0
20       5715448             -20      X
21       5715448             -21      X
22       5715448             -22      X
23       5715448             -23      X
24       5715448             -24      X
25       5715448             -25      X
26       5715448             -26      X
27       5715449               0      C
28       5715449              -1      C
29       5715449              -2      C
30       5715449              -3      C
31       5715449              -4      C
32       5715449              -5      C
33       5715449              -6      0
34       5715449              -7      0
35       5715449              -8      0
36       5715449              -9      0
37       5715449             -10      0
38       5715449             -11      X
39       5715451              -5      C
40       5715451              -6      C
41       5715451              -7      C
42       5715451              -8      C
43       5715451              -9      C
44       5715451             -10      0
45       5715451             -11      0
46       5715451             -12      0
47       5715451             -13      0
48       5715451             -14      0
49       5715451             -15      0

In [8]:
br[br["SK_ID_BUREAU"] == 5715449]

,SK_ID_CURR,SK_ID_BUREAU,CREDIT_ACTIVE,CREDIT_CURRENCY,DAYS_CREDIT,CREDIT_DAY_OVERDUE,DAYS_CREDIT_ENDDATE,DAYS_ENDDATE_FACT,AMT_CREDIT_MAX_OVERDUE,CNT_CREDIT_PROLONG,AMT_CREDIT_SUM,AMT_CREDIT_SUM_DEBT,AMT_CREDIT_SUM_LIMIT,AMT_CREDIT_SUM_OVERDUE,CREDIT_TYPE,DAYS_CREDIT_UPDATE,AMT_ANNUITY
769,380361,5715449,Active,currency 1,-357,0,1119.0,NaN,NaN,0,45000.0,0.0,45000.0,0.0,Credit card,-130,2691.0

### Annuityとは？