In [1]:
import pandas as pd
import numpy as np

In [2]:
ap_train_path = "../data/application_train.csv"
ap_test_path = "../data/application_test.csv"
br_balance_path = "../data/bureau_balance.csv"
br_path = "../data/bureau.csv"
cr_card_path = "../data/credit_card_balance.csv"
descr_path = "../data/HomeCredit_columns_description.csv"
inst_pay_path = "../data/installments_payments.csv"
pos_cash_path = "../data/POS_CASH_balance.csv"
pr_app_path = "../data/previous_application.csv"

In [3]:
train = pd.read_csv(ap_train_path)
test = pd.read_csv(ap_test_path)
brbalance = pd.read_csv(br_balance_path)
br = pd.read_csv(br_path)
card = pd.read_csv(cr_card_path)
pay = pd.read_csv(inst_pay_path)
poscash = pd.read_csv(pos_cash_path)
app = pd.read_csv(pr_app_path)

train.shape, test.shape, brbalance.shape, br.shape, card.shape, pay.shape, poscash.shape, app.shape

((307511, 122),
 (48744, 121),
 (27299925, 3),
 (1716428, 17),
 (3840312, 23),
 (13605401, 8),
 (10001358, 8),
 (1670214, 37))

In [4]:
train.head()

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,100002,1,Cash loans,M,N,Y,0,202500.0,406597.5,24700.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
1,100003,0,Cash loans,F,N,N,0,270000.0,1293502.5,35698.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
2,100004,0,Revolving loans,M,Y,Y,0,67500.0,135000.0,6750.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
3,100006,0,Cash loans,F,N,Y,0,135000.0,312682.5,29686.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,100007,0,Cash loans,M,N,Y,0,121500.0,513000.0,21865.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0

In [8]:
def check_has_null(df):
    cols = df.columns
    has_null = dict()
    for col in cols:
        null_mean = df[col].isnull().mean()
        if null_mean > 0.0:
            has_null[col] = null_mean
    for key, val in has_null.items():
        print(f"{key}: {val}")

In [9]:
check_has_null(train)

AMT_ANNUITY: 3.9022994299390916e-05
AMT_GOODS_PRICE: 0.0009040327012692228
NAME_TYPE_SUITE: 0.004201475719567756
OWN_CAR_AGE: 0.6599081008484249
OCCUPATION_TYPE: 0.31345545362604915
CNT_FAM_MEMBERS: 6.503832383231819e-06
EXT_SOURCE_1: 0.5638107254699832
EXT_SOURCE_2: 0.0021462646864665006
EXT_SOURCE_3: 0.19825307062186392
APARTMENTS_AVG: 0.5074972927797705
BASEMENTAREA_AVG: 0.5851595552679416
YEARS_BEGINEXPLUATATION_AVG: 0.48781019215572774
YEARS_BUILD_AVG: 0.6649778381911542
COMMONAREA_AVG: 0.6987229725115525
ELEVATORS_AVG: 0.532959796560123
ENTRANCES_AVG: 0.503487680115508
FLOORSMAX_AVG: 0.4976082156410665
FLOORSMIN_AVG: 0.6784862980511266
LANDAREA_AVG: 0.5937673774271489
LIVINGAPARTMENTS_AVG: 0.6835495315614726
LIVINGAREA_AVG: 0.5019332641759157
NONLIVINGAPARTMENTS_AVG: 0.6943296337366793
NONLIVINGAREA_AVG: 0.5517916432257708
APARTMENTS_MODE: 0.5074972927797705
BASEMENTAREA_MODE: 0.5851595552679416
YEARS_BEGINEXPLUATATION_MODE: 0.48781019215572774
YEARS_BUILD_MODE: 0.6649778381911542
COMMONAREA_MODE: 0.6987229725115525
ELEVATORS_MODE: 0.532959796560123
ENTRANCES_MODE: 0.503487680115508
FLOORSMAX_MODE: 0.4976082156410665
FLOORSMIN_MODE: 0.6784862980511266
LANDAREA_MODE: 0.5937673774271489
LIVINGAPARTMENTS_MODE: 0.6835495315614726
LIVINGAREA_MODE: 0.5019332641759157
NONLIVINGAPARTMENTS_MODE: 0.6943296337366793
NONLIVINGAREA_MODE: 0.5517916432257708
APARTMENTS_MEDI: 0.5074972927797705
BASEMENTAREA_MEDI: 0.5851595552679416
YEARS_BEGINEXPLUATATION_MEDI: 0.48781019215572774
YEARS_BUILD_MEDI: 0.6649778381911542
COMMONAREA_MEDI: 0.6987229725115525
ELEVATORS_MEDI: 0.532959796560123
ENTRANCES_MEDI: 0.503487680115508
FLOORSMAX_MEDI: 0.4976082156410665
FLOORSMIN_MEDI: 0.6784862980511266
LANDAREA_MEDI: 0.5937673774271489
LIVINGAPARTMENTS_MEDI: 0.6835495315614726
LIVINGAREA_MEDI: 0.5019332641759157
NONLIVINGAPARTMENTS_MEDI: 0.6943296337366793
NONLIVINGAREA_MEDI: 0.5517916432257708
FONDKAPREMONT_MODE: 0.6838617155158677
HOUSETYPE_MODE: 0.50176091261776
TOTALAREA_MODE: 0.4826851722377411
WALLSMATERIAL_MODE: 0.508407829313423
EMERGENCYSTATE_MODE: 0.47398304450897694
OBS_30_CNT_SOCIAL_CIRCLE: 0.0033202064316398437
DEF_30_CNT_SOCIAL_CIRCLE: 0.0033202064316398437
OBS_60_CNT_SOCIAL_CIRCLE: 0.0033202064316398437
DEF_60_CNT_SOCIAL_CIRCLE: 0.0033202064316398437
DAYS_LAST_PHONE_CHANGE: 3.2519161916159095e-06
AMT_REQ_CREDIT_BUREAU_HOUR: 0.13501630835970097
AMT_REQ_CREDIT_BUREAU_DAY: 0.13501630835970097
AMT_REQ_CREDIT_BUREAU_WEEK: 0.13501630835970097
AMT_REQ_CREDIT_BUREAU_MON: 0.13501630835970097
AMT_REQ_CREDIT_BUREAU_QRT: 0.13501630835970097
AMT_REQ_CREDIT_BUREAU_YEAR: 0.13501630835970097

In [68]:
train["ORGANIZATION_TYPE"].unique().shape

(58,)

In [30]:
train["DAYS_EMPLOYED"].unique()

array([  -637,  -1188,   -225, ..., -12971, -11084,  -8694])

In [74]:
train["EXT_SOURCE_3"].min()

0.00052726523870988168